# Environment variables
.env
.env.*

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
*.log
logs/

# Cache & temp
.tmp/
.cache/

# Coverage
coverage/

# OS files
Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/